<header>
  <h2><%= @mechanic.name %>'s Information</h2>
</header>
<section id="mechanic_information">
  <p>Name: <%=  @mechanic.name %></p>
  <p>Years Experience: <%=  @mechanic.years_experience %></p>
</section>
<section id="mechanics_rides">
<h3>Current rides <%=  @mechanic.name%> is working on:</h3>
  <% @mechanic.rides.each do |ride| %>
    <p><%=  ride.name %></p>
  <% end %>
</section>  
<section id="add_to_workload">
  <%= form_with url: mechanic_path(@mechanic.id), method: :patch, local: true do |form| %>
    <%= form.label :ride_id, "Ride ID:" %>
    <%= form.text_field :ride_id, required: true%>
    <br>
    <%= form.submit "Submit" %>
  <% end %>
</section>