<h1> <%= @mechanic.name %>'s Page</h1>
<p>Years of Experience: <%= @mechanic.years_experience%></p>
<br>
<h4>Currently Working On:</h4>
<ul>
  <% @mechanic.rides.each do |ride| %>
    <li> <%= ride.name %> </li>
  <% end %>
</ul>
<br>
<h4>Add a Ride to Workload:</h4>
<%= form_with url: "/mechanic_rides", method: :post, local: true do |form| %>
  <div class ="add_rides">
    <%= form.hidden_field :mechanic_id, value: "#{@mechanic.id}" %>
    <p><%= form.label :ride_id, "Ride Id:" %> <%= form.number_field :ride_id %></p>
    <p><%= form.submit "Submit" %>
  </div>
<% end %>

