<h1><%=@mechanic.name%>'s Info</h1>

<p>Name: <%=@mechanic.name%></p>
<p>Years Experience: <%=@mechanic.years_experience%></p>

<div id="rides">
<p>Rides Working On:</p>
  <%@rides.each do |ride|%>
    <ul><%=ride.name%></ul>
  <%end%>
</div>

<h3>Add a ride for this mechanic:</h3>
<%= form_with url: "/mechanics/#{@mechanic.id}/rides" do |form| %>
  <%= form.label "ID: " %>
  <%= form.number_field :ride_id %>

  <%= form.submit "Submit"%>
<% end %>