<p><%="Mechanic Name: #{@mechanic.name}"%></p>
<p><%="Mechanic Years of Experience: #{@mechanic.years_experience}"%></p>

<div id= "Add Ride">
  <h3>Add Ride</h3>
  <%= form_with url: "/mechanic_rides", method: :post, local: true do |form| %>
    <%= hidden_field_tag :mechanic_id, "#{@mechanic.id}" %>
    <%= form.number_field "ride_id" %>
    <%= form.submit "Add Ride" %>
  <%end %>
  </div>
  <br>


<div id="rides_working_on">
  <h4>"Rides Working On"</h4>
  <%@mechanic.rides.each do |ride|%>
    <p><%=ride.name%></p>
  <%end%>
</div>