<h1><%= @mechanic.name %>'s page</h1>
<div id="mechanic_info">
  <p>Name: <%= @mechanic.name %></p>
  <p>Years of Experience: <%= @mechanic.years_experience %></p>
  <p>Rides Currently Working on:</p>
    <ul>
      <% @mechanic.rides.each do |ride|%>
        <li><%= ride.name %></li>
      <% end %>
    </ul>
</div>

<div id="mechanic_form">
  <h3>Add a ride to this mechanic's schedule</h3>
  <%= form_with model: @ride, method: :patch, local: true do |form| %>
    <%= form.label :ride_id %>
    <%= form.number_field :ride_id %>
    <%= form.submit "Submit" %>
  <% end %>
</div>