<h1><%=@mechanic.name%>'s Info</h1>

<p>Mechanic: <%=@mechanic.name%></p>
<p>Years of Experience: <%=@mechanic.years_experience%></p>

<div id="rides">
<p>Current rides they're working on:</p>
  <%@rides.each do |ride|%>
    <ul><%=ride.name%></ul>
  <%end%>
  <br>
</div>

<h3>Add a ride for this mechanic:</h3>
<%= form_with url: "/mechanics/#{@mechanic.id}/rides" do |form| %>
  <%= form.label "Ride Id: " %>
  <%= form.number_field :ride_id %>

  <%= form.submit "Submit"%>
<% end %>