<h2><%= @mechanic.name %></h2>

<div id="mechanic_info">
  <p>Name: <%= @mechanic.name %></p>
  <p>Years of Experience: <%= @mechanic.years_experience %></p>
</div>

<div id="mechanic_rides">
<h4>Assigned Rides</h4>
<ol>
  <% @rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ol>
</div>

<div id="add_mechanic_ride">
  <h4>Add a ride to this mechanic by ID</h4>
  <%= form_with url: "/mechanics/#{@mechanic.id}/mechanic_rides", method: :post, local: true do |f| %>
    <%= f.label :ride_id %>
    <%= f.text_field :ride_id %>
    <%= f.submit %>
  <% end %>
</div>