<h1><%=@mechanic.name%>'s page</h1>

<div id="mechanic_details">
  <p>Experience: <%=@mechanic.years_experience%> Years</p>
  <h3>Rides <%=@mechanic.name%> works on</h3>
  <%@mechanic.rides.each do |ride|%>
    <p><%=ride.name%></p>
  <%end%>
</div>

<div id="add_ride_form" >
  <p> Add a ride to <%=@mechanic.name%>'s workflow </p>
  <%= form_with model: @merchanic_ride, url: mechanic_rides_path, local: true do |f| %>
    <%= f.label :ride_id, "Ride ID:" %>
    <%= f.number_field :ride_id %>
    <%= f.hidden_field :mechanic_id, value: @mechanic.id %>
    <%= f.button "Submit" %>
  <%end%>
</div>