<h2> Name: <%= @mechanic.name %></h2>

<p> Years of Experience: <%= @mechanic.years_experience %></p>
<br>
<h3> Current rides working on: </h3>
<ul id="rides">
<% @mechanic.rides.each do |ride| %>
<li> <%= ride.name %> </li>
<% end %>
</ul>

<div id="add_rides">
	<%= form_with url: "/mechanics/#{@mechanic.id}/rides", method: :post, local: true do |f| %>
		<%= f.label :add, "Add a ride to their workload" %>
		<%= f.text_field :ride_id, required: true %>
		<%= f.submit "Submit" %>
	<% end %>
</div>