<h1>Mechanic <%= @mechanic.name %></h1>

<div class= "mechanics">
  <% @mechanics.rides.each do |rides| %>
  <p>Mechanic Name: <%= rides.mechanic.name %><p><br>
  <p>Years of Experience:<%= rides.mechanic.years_experience %><p>
  <p>Current Rides: <%= ride.name %><p><br> 
  <% end %>
</div>

<div id= "add-ride">
<h2>Add a ride to workload:</h2>
  <%= form_with model: @mechanic, local: true do |form| %>
  <%= form.label :ride_id %>
  <%= form.text_field :ride_id %>
  <%= form.submit "Add Ride" %>
  <% end %>
</div>
