<h1><%= @amusement_park.name %></h1>

<div class = "park_info" >
  <p>Admission Cost: $<%= @amusement_park.admission_cost %></p>
</div>

<div class = "mechanics_at_park">
  <% @amusement_park.mechanics_at_park.each do |mechanic| %>
    <ul>
      <li><%= mechanic.name %></li>
    </ul>
  <% end %>
</div>

<div class = "park_rides">
  <%@amusement_park.order_rides_by_mechanic_experience.each do |ride| %>
  <div id=<%= "ride_#{ride.id}"%>>
    <ul>
      <li><%= ride.name %></li>
        <p>Mechanic Years of Experience: <%= number_with_precision(ride.avg_years_experience, precision: 2) %></p>
    </ul>
  </div>
  <% end %>
</div>