<h1>Amusement Park: <%= @amusement_park.name %></h1>
<h3>Admission Cost: <%= number_to_currency(@amusement_park.admission_cost) %></h3>
<h3>Mechanics working on <%= @amusement_park.name %>'s rides:</h3>
<div id="mechanics">
<% @mechanics.each do |mechanic| %>
<ul>
  <li><%= mechanic.name %></li>
</ul>
<% end %>
</div>
<h3><%= @amusement_park.name %>'s Rides</h3>
<div id="rides">
<% @rides.each do |ride| %>
<ul>
  <li><%= ride.name %> - <%= ride.average.round(2) %> years experience(average)</li>
  </ul>
<% end %>
</div>