<h2><%= @amusement_park.name %></h2>

<div id="park_info">
  <p>Name: <%= @amusement_park.name %></p>
  <p>Cost of Admission: <%= @amusement_park.admission_cost %></p>
</div>

<div id="park_techs">
<h4>Park Mechanics</h4>
<ul>
  <% @mechanics.each do |mechanic| %>
    <li><%= mechanic.name %></li>
  <% end %>
</ul>

<div id="park_rides">
<h4>Park Rides</h4>
<ul>
  <% @rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>