<h1><%= @park.name %> </h1>
Admission: $<%= @park.admission_cost %>
<br>
<h4>Mechanics Working On Rides:</h4>
<%@park_mechanics.each do |mech| %>
<p><%= mech.name %></p>
<% end %>
 
 <h3>Rides in Park</h3>
<% @park.rides.each do |ride|%>
<div id='ride_info-<%=ride.id%>'>
  <li><%= ride.name %>  // Mechanic's Average Experience: <%= ride.avg_exp %> years</li> 
    <%end%>
</ul>
</div>